body {
  background: #acd5fe;
}

.col {
  align-content: center;
}

.table-responsive {
  max-height:500px;
}

#main {
  animation: transitionIn 0.75s;
}

@keyframes transitionIn{
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
