@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
  background: #acd5fe;
  font-family: 'DM Sans', sans-serif;
}

.col {
  align-content: center;
}

.table-responsive {
  max-height:500px;
}

#main {
  animation: transitionIn 0.75s;
}

@keyframes transitionIn{
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

