<div class="col">
  <div class="container">
    <div class="card-body">
      <h1>LIVROS</h1>
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="text-center">Tombo</th>
              <th scope="col" class="text-center">Nome</th>
              <th scope="col" class="text-center">Resumo</th>
              <th scope="col" class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">Tombo do livro</td>
              <td class="text-center">Nome do livro</td>
              <td class="text-center">Resumo do livro</td>
              <td class="text-center">
                <button class="btn btn-info btn-view"><i class="fa-solid fa-eye"></i></button>
                <button class="btn btn-warning btn-edit"><i class="fa-solid fa-pen-to-square"></i></button>
                <button class="btn btn-danger btn-delete"><i class="fa-solid fa-trash-can"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary btn-lg btn-new-Livro" data-bs-toggle="modal" data-bs-target="#modal-livro">Adicionar livro</button>
      </div>

    </div>
  </div>
</div>




<div
  id="modal-livro"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="my-modal-title"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="my-modal-title">LIVRO</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="form-livro">
          <div class="mb-3">
            <label for="ra" class="form-label">Tombo</label>
            <input type="number" name="tombo" id="tombo" class="form-control" />
          </div>
          <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control" />
          </div>
          <div class="mb-3">
            <label for="nascimento" class="form-label">Resumo</label>
            <input type="text" name="resumo" id="resumo" class="form-control" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary w-100 btn-save">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>

<script src="frontend/screens/controllers/controllerLivro.js"></script>