<div class="col">
  <div class="container">
    <div class="card-body">
      <h2 class="text-center text-dark mt-5">Gerenciamento de empréstimos</h2>
      <input type="text" id="input-busca" class="form-control mt-3 mb-3" placeholder="Que empréstimo você procura?" autocomplete="off">
      <div class="table-responsive shadow bg-white rounded-4">
        <table class="table">
          <thead class="thead-dark sticky-top">
            <tr>
              <th scope="col" class="text-center">RA / Cod. Matrícula </th>
              <th scope="col" class="text-center">Nome</th>
              <th scope="col" class="text-center">Tombo</th>
              <th scope="col" class="text-center">Livro</th>
              <th scope="col" class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody id="table-emprestimo">
            <tr>
              <th class="text-center">RA / Cod. Matrícula do usuário</th>
              <td class="text-center">Nome do usuário</td>
              <th class="text-center">Tombo do livro</th>
              <td class="text-center">Livro que o usuário pegou</td>
              <td class="text-center">
                <button class="btn btn-info btn-view"><i class="fa-solid fa-eye"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-dark btn-lg mt-3 btn-new"><i class="fa-solid fa-plus"></i> Realizar empréstimo</button>
      </div>
      
    </div>
  </div>
</div>


<div id="modal-emprestimo" class="modal fade" tabindex="-1" aria-labelledby="my-modal-title" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="my-modal-title">EMPRESTIMO</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form-emprestimo">
          <div class="row g-3">

            <div class="mb-3 col form-group">
              <label for="ra" class="form-label">RA</label>
              <input type="number" autocomplete="off" name="id_user" id="ra" class="form-control border" placeholder="RA/Cód. de Matrícula">
            </div>

            <div class="mb-3 col form-group">
              <label for="tombo" class="form-label">Tombo</label>
              <input type="number" autocomplete="off" name="id_livro" id="tombo" class="form-control border" placeholder="Tombo do livro">
            </div>

            <input type="number" name="id_adm" id="id_adm" hidden> 


          </div>
          <div class="row">
            <div class="col user">
              <p><b>NOME USER</b></p>
            </div>
            <div class="col livro">
              <p><b>NOME LIVRO</b></p>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="admin-info">
          <p id="admin-name" class="text-muted"></p>
        </div>
        <button type="button" class="btn btn-primary w-100 btn-save">Salvar</button>
      </div>
    </div>
  </div>
</div>

<script src="frontend/screens/controllers/controllerEmprestimo.js"></script>