<div class= "col">
  <div class="container">
    <div class="card-body">
      <h2 class="text-center text-dark mt-5">Gerenciamento de livros</h2>
      <input type="text" id="input-busca" class="form-control mt-3 mb-3" placeholder="Que livro você procura?" autocomplete="off">
      <div class="table-responsive shadow bg-white rounded-4">
        <table class="table">
          <thead class="thead-dark sticky-top">
            <tr>
              <th scope="col" class="text-center">Tombo</th>
              <th scope="col" class="text-center">Nome</th>
              <th scope="col" class="text-center">Autor</th>
              <th scope="col" class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody id="table-livro">
            <tr>
              <th class="text-center">Tombo do livro</th>
              <td class="text-center">Nome do livro</td>
              <td class="text-center">Nome do autor</td>
              <td class="text-center">
                <button class="btn btn-info btn-view"><i class="fa-solid fa-eye"></i></button>
                <button class="btn btn-warning btn-edit"><i class="fa-solid fa-pen-to-square"></i></button>
                <button class="btn btn-danger btn-delete"><i class="fa-solid fa-trash-can"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-dark btn-lg btn-new mt-3"><i class="fa-solid fa-plus"></i> Adicionar livro</button>
      </div>

    </div>
  </div>
</div>

<div id="modal-livro" class="modal fade" tabindex="-1" aria-labelledby="my-modal-title" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="my-modal-title">LIVRO TÍTULO</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form id="form-livro">

          <div class="row">

            <div class="mb-3 col-md-3 form-group">
              <label>Tombo</label>
              <input type="number" autocomplete="off" name="tombo[]" id="tombo" class="form-control border">
            </div>
  
            <div class="mb-3 col-md-6 form-group">
              <label>Nome</label>
              <input type="text" autocomplete="off" name="nome[]" id="nome" class="form-control border">
            </div>     

          </div>
          
          <div class="row">

            <div class="mb-3 col-md-9 form-group">
              <label>Autor</label>
              <select name="autor[]" id="autor" class="form-select border autor">
                <option value=""></option>
              </select>
            </div>

            <input type="number" name="adm_id" id="adm_id" hidden> 

            <div class="mb-3 col form-group mt-4">
              <button class="btn btn-success btn-new-input"><i class="fa-solid fa-plus"></i></button>
            </div>


          </div>

          <div id="show-item" class="row">

          </div>

        </form>

      </div>
      <div class="modal-footer">
        <div class="admin-info">
          <p id="warning-message" class="text-danger"></p>
        </div>
        <p id="admin-name" class="text-muted"></p>
        <button type="submit" class="btn btn-primary btn-block btn-save">Salvar</button>
      </div>
    </div>
  </div>
</div>

<script src="frontend/screens/controllers/controllerLivro.js"></script>