<h1 class="p-3 text-center bold">Relatórios</h5>

<div class="row">

    <div class="col-md-4">
        <div class="container">
            <div class="card-body">
                <div class="table-responsive shadow bg-white rounded-4">
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                            <h5 class="p-3 text-center bold">Relatório Diário - DIA</h5>

                        </tr>
                      </thead>
                      <tbody id="table-diaria">
                        <tr>
                            <th class="p-3">Empréstimos</td>
                            <td class="text-center">NUMERO</td>
                        </tr>
                        <tr>
                            <th class="p-3">Renovações</td>
                            <td class="text-center">NUMERO</td>
                        </tr>
                        <tr>
                            <th class="p-3">Devoluções</td>
                            <td class="text-center">NUMERO</td>
                        </tr>
                        <tr>
                            <th class="p-3">Cadastros de usuários</td>
                            <td class="text-center">NUMERO</td>
                        </tr>
                        <tr>
                            <th class="p-3">Cadastros de livros</td>
                            <td class="text-center">NUMERO</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="container">
            <div class="card-body">
                <div class="table-responsive shadow bg-white rounded-4">
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                            <h5 class="p-3 text-center bold">Relatório Mensal - MÊS</h5>

                        </tr>
                      </thead>
                      <tbody id="table-mensal">
                        <tr>
                            <th class="p-3">Empréstimos</td>
                            <td class="text-center">NUMERO</td>
                        </tr>
                        <tr>
                            <th class="p-3">Renovações</td>
                            <td class="text-center">NUMERO</td>
                        </tr>
                        <tr>
                            <th class="p-3">Devoluções</td>
                            <td class="text-center">NUMERO</td>
                        </tr>
                        <tr>
                            <th class="p-3">Cadastros de usuários</td>
                            <td class="text-center">NUMERO</td>
                        </tr>
                        <tr>
                            <th class="p-3">Cadastros de livros</td>
                            <td class="text-center">NUMERO</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="container">
            <div class="card-body">
                <div class="table-responsive shadow bg-white rounded-4">
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>

                            <h5 class="p-3 text-center bold">Relatório Anual - ANO</h5>

                        </tr>
                      </thead>
                      <tbody id="table-anual">
                        <tr>
                            <th class="p-3">Empréstimos</td>
                            <td class="text-center">NUMERO</td>
                        </tr>
                        <tr>
                            <th class="p-3">Renovações</td>
                            <td class="text-center">NUMERO</td>
                        </tr>
                        <tr>
                            <th class="p-3">Devoluções</td>
                            <td class="text-center">NUMERO</td>
                        </tr>
                        <tr>
                            <th class="p-3">Cadastros de usuários</td>
                            <td class="text-center">NUMERO</td>
                        </tr>
                        <tr>
                            <th class="p-3">Cadastros de livros</td>
                            <td class="text-center">NUMERO</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="frontend/screens/controllers/controllerRelatorio.js"></script>